
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/select2.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/odometer-theme-default.css" />

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="css/main.css">

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo akcji</a>
        </div>
        
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <div class=" row">
          <div class="jumbotron-inner col-md-8 col-md-offset-2">
            <h1>Wstawmy zęby <br> ustawie krajobrazowej</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut beatae ullam rem consequuntur eos soluta possimus, eius sed dicta aspernatur iusto voluptatibus quae voluptatum blanditiis.</p>
            <p>Wsparło nas już <span class="counter" data-counter>...</span> osób!</p><br>
            <div>
              <a class="btn btn-danger btn-lg" href="#form" role="button">Wyślij list do swojego senatora &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego ustawa krajobrazowa jest potrzebna?</h1><br/><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>Powód 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-3">
          <h2>Powód 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
       <div class="col-md-3">
          <h2>Powód 3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
       <div class="col-md-3">
          <h2>Powód 4</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>
    </div>
  
    <hr>

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego obecny projekt jest niewystarczający?</h1><br/><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Kary nieadekwatne do zysków z nieregalnych reklam</h3>
          <p>
            Roczny dochód z nielegalnej reklamy na Hotelu MDM <strong>1,200,000 zł</strong><br>
            Maksymalna grzywna wg. ustawy krajobrazowej <strong>5,000 zł</strong><br>
          </p>
          <p>Nielegalne reklamy przynoszą ogromne zyski każdego miesiąca, a osoby, które łamią prawo są obecnie bezkarne.</p>
          <p>Sytuację miała zmienić ustawa krajobrazowa. Jeśli zostanie przyjęta w obecnym kształcie, tak się nie stanie. Dlaczego? Bo maksymalna kara, jaką będzie można wymierzyć to grzywna w wysokości 5 tys. zł. Sprawca otrzyma ją tylko raz, nawet jeśli reklama nie zostanie usunięta.</p>
        </div>
        <div class="col-md-6">
          <img src="/img/szmata-mdm.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="/img/szmata-szyld.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h3>Wielkoformatowe szmaty to szyldy?</h3>
          <p>Ustawa krajobrazowa słusznie zwalnia od opłat reklamowych szyldy. Niestety, definiuje je tak szeroko, że za szyld można uznać także tak wielką szmatę, jak ta na zdjęciu obok.</p>
          <p>Dlaczego? Bo wystarczy, że treść prezentowana na szmacie będzie miała związek  z działalnością prowadzoną w budynku, na którym została wywieszona.</p>
        </div>
      </div>


    </div>

    <hr>

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Co chcemy zmienić?</h1><br/><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>Poprawka 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-3">
          <h2>Poprawka 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
       <div class="col-md-3">
          <h2>Poprawka 3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
       <div class="col-md-3">
          <h2>Poprawka 4</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center"><a href="#">Pobierz projekt wszystkich poprawek w formacie PDF</a></div>  
      </div>

    </div>
    
    <hr>

    <div class="container" id="form">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Napisz list do Senatora <small>Z twojego okregu</small>  </h1>

          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum recusandae, nulla odio maiores pariatur, totam unde debitis rerum, tempora voluptas veritatis ut modi aliquam voluptate numquam id minus eius! Dolor.</p><br><br>
        </div>
      </div>

      <div class="row">
        <form class="form-horizontal" action="#" method="POST">
          <div class="form-group">
            <label for="districtSelector" class="col-sm-3 control-label">Twoje miasto lub powiat</label>
            <div class="col-sm-9">
              <select class="district-selector" required id="districtSelector" name="district">
                <option></option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="toName" class="col-sm-3 control-label">Odbiorca</label>
            <div class="col-sm-4">
              <input class="form-control" id="toName" type="text" name="toName" placeholder="Imię i nazwisko senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label for="toEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input class="form-control" id="toEmail" type="email"  name="toEmail" placeholder="Email senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>
        
          <div class="form-group">
            <label for="fromName" class="col-sm-3 control-label">Nadawca</label>
            <div class="col-sm-4">
               <input type="text" class="form-control" id="fromName"  name="fromName"  placeholder="Twoje imię i nazwisko" required>
            </div>
          </div>

          <div class="form-group">
            <label for="fromEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="fromEmail"  name="fromEmail" placeholder="Twój email" required>
            </div>
          </div>
          
          <div class="form-group">
            <label for="messageTitle" class="col-sm-3 control-label">Temat</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="messageTitle"  name="messageTitle" value="Prośba o wsprarcie poprawek w Ustawie krajobrazowej" required>
            </div>
          </div>

          <div class="form-group">
            <label for="messageBody" class="col-sm-3 control-label">Treść</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="messageBody" id="messageBody" rows="18" required></textarea>
            </div>
          </div>

          <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-block btn-lg btn-success">Wyślij</button>
              </div>
          </div>

        </div>
      </form>

    </div>
    
  </div>

  <hr>  

  <footer class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Organizatorzy</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Wspierają nas</h1>
      </div>
    </div>

  </footer>
    
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/select2.js"></script>
    <script src="js/libs.js"></script>

    <script src="js/data.js"></script>
    <script src="js/senators.js"></script>
    <script src="js/main.js"></script>
    
    <script type="text/html" id="emailTemplate">
      
    </script>
    
    <!-- Modal -->
    <div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Dziękujemy za wspracie</h4>
          </div>
          <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dignissimos assumenda suscipit corrupti nulla, harum. Dicta aperiam, ab ut repellat.  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij okno</button>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/html" id="mesageTemplate">

<% if ( senator && senator.gender === 'f' ) { %>
Szanowna Pani Senator! \n\n
<% } else { %>
Szanowny Panie Senatorze! \n\n
<% } %>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem in aut ad, velit ratione dolores nulla vel eveniet sequi commodi nesciunt sint possimus, vitae, sed dolorem incidunt tenetur quae beatae. Rem libero recusandae esse tempora dignissimos, autem, eligendi fuga, alias hic, earum fugit aliquid. Harum, atque, non. Recusandae, sed, perspiciatis? Alias cum porro esse suscipit, provident optio odit, dolore nostrum rerum? Explicabo architecto, animi itaque necessitatibus error et nesciunt. Odit similique sapiente accusantium alias nihil amet ipsa ducimus facere tempore deleniti voluptatem, distinctio neque qui blanditiis harum dolorem aliquid molestias a incidunt perspiciatis provident cumque minima unde vitae. Explicabo dicta nostrum inventore minima. Necessitatibus dignissimos, eligendi architecto totam impedit recusandae ullam mollitia eum perspiciatis! \n\n

Z poważaniem, \n
<%=message.fromName%> \n
<%=message.fromEmail%> \n
Wyborca z okręgu 

    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
    -->

    </body>
</html>
