<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Posprzątajmy Reklamy - Napisz list do Senatu i pomóż ulepszyć ustawę krajobrazową</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/select2.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/odometer-theme-default.css" />
        <link rel="stylesheet" href="css/main.css">

        <meta property="og:title" content="To miejsce czeka na twoją ustawę" />
        <meta property="og:description" content="Sejm przed kilkoma dniami przyjął ustawę krajobrazową. Niestety została ona pozbawiona mocy egzekucyjnej. W obecnym kształcie nie zlikwiduje chaosu reklamowego, w którym tonie Polska. Nie pozwólmy na to! Ustawę może uratować Senat wprowadzając odpowiednie poprawki." />
        <meta property="og:url" content="http://www.posprzatajmyreklamy.pl" />
        <meta property="og:image" content="http://www.posprzatajmyreklamy.pl/img/hero-background.jpg" />
        <meta property="og:type" content="article" />

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  
    <img src="img/logo.png" class="logo" alt="">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <div class=" row">
          <div class="jumbotron-inner col-md-10 col-md-offset-1">
            <h1>To miejsce czeka na twoją ustawę</h1>
            <p class="lead">Sejm przed kilkoma dniami przyjął ustawę krajobrazową. Niestety została ona pozbawiona mocy egzekucyjnej. W obecnym kształcie nie zlikwiduje chaosu reklamowego, w którym tonie Polska. <br>Nie pozwólmy na to! Ustawę może uratować Senat wprowadzając odpowiednie poprawki.</p>
            <a class="btn btn-danger btn-lg" href="#form" role="button">Wyślij list do swojego senatora &raquo;</a>
            <p>Wsparło nas już <span class="counter" data-counter="{{counter}}">0</span> osób!</p>
            <div class="share">
              Podaj dalej: <br>
              <div><div class="fb-share-button" data-href="http://www.posprzatajmyreklamy.pl" data-layout="button_count"></div></div>
              <div style="margin-top: 10px"><a href="https://twitter.com/share" data-url="http://www.posprzatajmyreklamy.pl" class="twitter-share-button" data-text="Przyjęta ustawa krajobrazowa została pozbawiona mocy egzekucyjnej. Może ją uratować Senat wprowadzając odpowiednie poprawki" data-via="MiastoJestNasze">Tweet</a></div>
            </div>


          </div>
        </div>
      </div>
    </div>

 
<section id="dlaczego-potrzebna" class="alternate">
    
    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego ustawa krajobrazowa jest potrzebna?</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">
          <h3>Reklamy są wszędzie</h3>
          <p>Polska jest jednym z najbardziej zasłoniętych reklamami krajów w Europie. Jednym z głównych powodów jest słabo działające prawo. </p>
        </div>
        <div class="col-md-3">
          <h3>Niskie kary</h3>
          <p>W obecnej sytuacji, skuteczne ukaranie właściciela nielegalnego nośnika reklamowego jest niemożliwe, a łamanie prawa po prostu się opłaca.</p>
       </div>
       <div class="col-md-3">
          <h3>Słabe prawo</h3>
          <p>Aktualne prawo jest skonstruowane w ten sposób, że udowodnienie nielegalności nośnika reklamowego może trwać wiele lat. Przez ten czas przynosi on regularne zyski swojemu właścicielowi.</p>
        </div>
       <div class="col-md-3">
          <h3>Chcemy zmian!</h3>
          <p>Według raportu TNS 72% Polaków chce ograniczenia reklam w przestrzeni publicznej, a 65% uważa siatki wielkoformatowe za najgorszą formę reklamy.</p>
        </div>
      </div>
    </div>
  
    </div>
</section>

<section>

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego obecny projekt jest niewystarczający?</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h2>Kary nieadekwatne do zysków z nielegalnych reklam</h2>
          <p>
            Roczny dochód z nielegalnej reklamy na Hotelu MDM <strong>1,200,000 zł</strong><br>
            Maksymalna grzywna wg ustawy krajobrazowej <strong>5,000 zł</strong><br>
          </p>
          <p>Nielegalne reklamy przynoszą ogromne zyski każdego miesiąca, a osoby, które łamią prawo są obecnie bezkarne. Ustawa krajobrazowa tego nie zmieni. Dlaczego? Bo maksymalna kara, jaką będzie można wymierzyć, to grzywna w wysokości 5 tys. zł. Sprawca otrzyma ją tylko raz, nawet jeśli reklama nie zostanie usunięta.</p>
        </div>
        <div class="col-md-5">
          <img src="./img/szmata-mdm.jpg" alt="">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2>Wielkoformatowe szmaty to szyldy?</h2>
          <p>Ustawa krajobrazowa słusznie zwalnia od opłat reklamowych szyldy. Niestety, definiuje je tak szeroko, że za szyld można uznać także tak wielką szmatę, jak ta na zdjęciu obok.</p>
          <p>Dlaczego? Bo wystarczy, że treść prezentowana na szmacie będzie miała związek  z działalnością prowadzoną w budynku, na którym została wywieszona.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="./img/szmata-szyld.jpg" alt="">
        </div>
      </div>


    </div>

</section>

<section class="alternate">

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Co chcemy zmienić?</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">
          <h2>§1</h2>
          <p> Proponujemy wprowadzenie zapisów, na mocy których nielegalny nośnik reklamowy obciążany będzie karną opłatą, naliczaną codziennie od metra kwadratowego powierzchni ekspozycyjnej. Uchwalone przez Sejm rozwiązanie pozwala tylko na jednorazowe ukaranie instalatorów reklamy niewielką grzywną, a co gorsza, karalność czynu wygaśnie już po 12 miesiącach! </p>
        </div>
        <div class="col-md-3">
          <h2>§2</h2>
          <p>Proponujemy, aby opłaty karne były pobierane od właścicieli nieruchomości, którzy zgadzają się ją udostępnić firmie reklamowej. Zidentyfikowanie i dotarcie do właścicieli nośników reklamowych jest często niezwykle trudne wskutek stosowanych przez nich zabiegów prawno-formalnych (nieodbieranie korespondencji, zmiana adresu itp.)</p>
       </div>
       <div class="col-md-3">
          <h2>§3</h2>
          <p>Proponujemy, by szyldy, które nie są zgodne z regułami reklamowymi, uchwalonymi przez radę gminy, również podlegały opłatom karnym. Inaczej pojemna definicja szyldu stanie się płaszczykiem dla ekspozycji reklam wielkoformatowych.</p>
        </div>
       <div class="col-md-3">
          <h2>§4</h2>
          <p> Proponujemy, aby odpowiednie zmiany w prawie budowlanym umożliwiały weryfikowanie zgodności inwestycji budowlanej z regułami reklamowymi, uchwalonymi przez radę gminy. Kodeks Budowlany i ustawę krajobrazową trzeba zsynchronizować w ten sposób, by nie zostawić furtki dla omijania prawa!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <br><br>
          <a href="ustawa-krajobrazowa-poprawki.pdf"><strong>Pobierz projekt wszystkich poprawek w formacie PDF</strong></a>
        </div>  
      </div>

    </div>
    
</section>

<section>

    <div class="container" id="form">
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Napisz list do Senatora</h1>
          <p class="lead">Za pomocą naszej strony możesz wybrać senatora ze swojego okręgu wyborczego i wysłać do niego list z prośbą o wsparcie tej akcji i głosowanie za poprawkami, które mogą uratować ustawę krajobrazową.</p><br><br>
        </div>
      </div>

      <div class="">
        <form class="form-horizontal" action="#" method="POST">
          <div class="form-group">
            <label for="districtSelector" class="col-sm-3 control-label">Twoje miasto lub powiat</label>
            <div class="col-sm-9">
              <select class="district-selector" required id="districtSelector" name="district">
                <option></option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="toName" class="col-sm-3 control-label">Odbiorca</label>
            <div class="col-sm-4">
              <input class="form-control" id="toName" type="text" name="toName" placeholder="Imię i nazwisko senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label for="toEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input class="form-control" id="toEmail" type="email"  name="toEmail" placeholder="Email senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>
        
          <div class="form-group">
            <label for="fromName" class="col-sm-3 control-label">Nadawca</label>
            <div class="col-sm-4">
               <input type="text" class="form-control" id="fromName"  name="fromName"  placeholder="Twoje imię i nazwisko" required>
            </div>
          </div>

          <div class="form-group">
            <label for="fromEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="fromEmail"  name="fromEmail" placeholder="Twój email" required>
            </div>
          </div>
          
          <div class="form-group">
            <label for="messageTitle" class="col-sm-3 control-label">Temat</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="messageTitle"  name="messageTitle" value="Prośba o wprowadzenie poprawek do Ustawy krajobrazowej" required>
            </div>
          </div>

          <div class="form-group">
            <label for="messageBody" class="col-sm-3 control-label">Treść</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="messageBody" id="messageBody" rows="18" required></textarea>
            </div>
          </div>

          <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-block btn-lg btn-success">Wyślij</button>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="small text-center">Zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tekst jednolity: Dz. U. z 2002 r. nr 101, poz. 926 ze zm.) oświadczam, że klikając na przycisk "Wyślij" wyrażam zgodę na przetwarzanie moich danych osobowych przez Stowarzyszenie Miasto Jest Nasze <b>wyłącznie na potrzeby akcji "Posprzątajmy reklamy"</b> oraz wyrażam zgodę na przesłanie wiadomości e-mail do wybranego Senatora w moim imieniu.</p>
            </div>
          </div>
        </div>
      </form> 

    </div>
    
  </div>

</section>
 
<section>
  <footer class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Akcję wspierają</h1>
      </div>
    </div>
    <div class="row logos">
      <a href="http://www.frl.org.pl/"><img src="img/logo-frl.png" alt="Logo Stowarszyszenia Forum Rozwoju Lublina"></a>
      <a href="http://miastomoje.org/"><img src="img/logo-mmawn.png" alt="Logo Stowarszyszenia Moje Miasto a w Nim"></a>
      <a href="http://prawodomiasta.org/"><img src="img/logo-pdm.png" alt="Logo Stowarszyszenia Prawo do Miasta"></a>
      <a href="http://miastojestnasze.org"><img src="img/logo-mjn.png" alt="Logo Stowarszyszenia Miasto Jest Nasze"></a>
      <a href="http://www.ulepszpoznan.pl/"><img src="img/logo-ulepsz.png" alt="Logo Stowarszyszenia Ulepsz Poznań"></a>
      <a href="http://wysokaizbo.pl/"><img src="img/logo-wysoka-izbo.png" alt="Logo akcji Wysoka Izbo"></a>
      <a href="http://www.gdanskobywatelski.pl/"><img src="img/logo-go.png" alt="Logo Stowarszyszenia Gdańsk Obywatelski"></a>
      <a href="http://naprawsobiemiasto.eu/"><img src="img/logo-nsm.png" alt="Logo Fundacji Napraw Sobie Miasto"></a>
      <a href="http://sfr.org.pl/"><img src="img/logo-sfr.png" alt="Logo Stowarzyszenia Świdnickie Forum Rozwoju"></a>
      <a href="http://stgu.pl/"><img src="img/logo-stgu.png" alt="Logo Stowarzyszenia Twórców Grafiki Użytkowej"></a>
      <a href="http://www.smmw.org/"><img src="img/logo-smmw.jpeg" alt="Logo Stowarzyszenia Mieszkańców Miasteczka Wilanów"></a>
      <a href="http://rb.waw.pl/"><img src="img/logo-rb.jpg" alt="Logo Rembertów Bezpośrednio"></a>
      <a href="https://www.facebook.com/kolektywBytoMy"><img src="img/logo-bytomy.jpg" alt="Logo Kolektyw BytoMy"></a>
      <a href="http://czasmieszkancow.pl/"><img src="img/logo-czas-mieszkancow.png" alt="Logo Czas Mieszkańców"></a>
      <a href="http://fro.olsztyn.pl/"><img src="img/logo-fro.jpg" alt="Logo Forum Rozwoju Olsztyna"></a>
      <a href="http://www.nowyzoliborz.pl/"><img src="img/logo-nz.png" alt="Logo Nowy Żoliborz"></a>
      <a href="https://www.facebook.com/przestrzen"><img src="img/logo-plm.png" alt="Logo Przestrzeń Ludzie Miasto"></a>
      <a href="http://www.akcjamiasto.org/"><img src="img/logo-akcja-miasto.png" alt="Logo Akcja Miasto"></a>
      <a href="http://www.fundacjafenomen.pl/"><img src="img/logo-fenomen.png" alt="Logo Fundacja Fenomen"></a>
      <a href="http://idp.org.pl/"><img src="img/logo-idp.png" alt="Logo Inwestycje dla Poznania"></a>
      <a href="https://www.facebook.com/madeinzakopane"><img src="img/logo-made-in-zakopane.png" alt="Logo Made in Zakopane"></a>
      <a href="http://miastoreklamacja.pl/"><img src="img/logo-mr.jpg" alt="Logo Miasto Reklamacja"></a>
      <a href="https://www.facebook.com/poznaniacy.info?fref=ts"><img src="img/logo-poznaniacy.png" alt="Logo Poznaniacy"></a>
      <a href="http://forumrozwoju.waw.pl/"><img src="img/logo-frw.gif" alt="Logo Forum Rozwoju Warszawy"></a>
      <a href="http://tumw.pl/"><img src="img/logo-tumw.jpg" alt="Logo Towarzystwa Upiększania Miasta Wrocławia"></a>
      <a href="http://www.warszawanasprzedaz.pl/"><img src="img/logo-wns.jpg" alt="Logo warszawa na sprzedaż"></a>
      <a href="http://www.krowoderska.pl/"><img src="img/logo-krowoderska.png" alt="Logo Krowoderska.pl"></a>
      <a href="http://www.trafficdesign.pl/"><img src="img/logo-traffic-design.png" alt="Logo Traffic Design"></a>
      <a href="http://www.beczmiana.pl/"><img src="img/logo-beczmiana.png" alt="Logo Bęc Zmiana"></a>
    </div>

  </footer>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
   
    
    <!-- Modal -->
    <div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Dziękujemy za wspracie!</h4>
          </div>
          <div class="modal-body">
            <p>Razem z Twoimi znajomymi możemy Posprzątać Reklamy! <a href="https://www.facebook.com/sharer/sharer.php?u=http://posprzatajmyreklamy.pl"><b>Podziel się tą stroną.</b></a></p>
            <p>Dołącz też do <a href="https://www.facebook.com/events/712761325519022/">wydarzenia na Facebooku</a></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij okno</button>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      var AppMessageTemplate = '{{{messageTmpl}}}';
      var AppSenatorsData = {{{senatorsData}}};
      var AppDistrictData = {{{districtsData}}};
    </script>
    
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44453576-2', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>