<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Uratujcie Drzewa - Napisz list do Senatu i pomóż zmienić ustawę o ochronie środowiska</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/select2.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/odometer-theme-default.css" />
        <link rel="stylesheet" href="css/main.css">

        <meta property="og:title" content="Uratujcie Drzewa" />
        <meta property="og:description" content="Sejm przed kilkoma dniami przyjął nowelizację ustawy o ochronie przyrody. Przyjęte zmiany niosą ogromne zagrożenie dla polskich drzew w gminach. Łagodząc przepisy dotyczące ich ochrony, skazują je na niekontrolowaną wycinkę. Nie pozwólmy na to! Drzewa może uratować Senat wprowadzając odpowiednie poprawki doustawy." />
        <meta property="og:url" content="http://www.uratujciedrzewa.pl" />
        <meta property="og:image" content="http://www.uratujciedrzewa.pl/img/hero-background.jpg" />
        <meta property="og:type" content="article" />

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <div class=" row">
          <div class="jumbotron-inner col-md-10 col-md-offset-1">
            <h1>Uratujcie drzewa!</h1>
            <p class="lead">Sejm przed kilkoma dniami przyjął nowelizację ustawy o ochronie przyrody. Przyjęte zmiany niosą ogromne zagrożenie dla polskich drzew w gminach. Łagodząc przepisy dotyczące ich ochrony, skazują je na niekontrolowaną wycinkę.<br><b>Nie pozwólmy na to!</b> Drzewa może uratować Senat wprowadzając odpowiednie poprawki do ustawy.</p>
            <a class="btn btn-danger btn-lg" href="#form" role="button">Wyślij list do swojego senatora &raquo;</a>
            <p>Wsparło nas już <span class="counter" data-counter="{{counter}}">0</span> osób!</p>
            <div class="share">
              Podaj dalej: <br>
              <div><div class="fb-share-button" data-href="http://www.uratujciedrzewa.pl" data-layout="button_count"></div></div>
              <div style="margin-top: 10px"><a href="https://twitter.com/share" data-url="http://www.uratujciedrzewa.pl" class="twitter-share-button" data-text="Sejm przed kilkoma dniami przyjął nowelizację ustawy o ochronie przyrody. Niesie ona ogromne zagrożenie dla polskich drzew" data-via="MiastoJestNasze">Tweet</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>


<section id="dlaczego-potrzebna" class="alternate">

    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego drzewa są warte ochrony?</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">
          <h3>Produkują tlen</h3>
          <p>Stuletni buk produkuje 3500 kg tlenu, który starcza dla 10 osób na rok. Taką samą produktywnością będzie się charakteryzować 1700 drzewek 10-letnich, zajmujących 265 razy większą powierzchnię niż dojrzały buk. </p>
        </div>
        <div class="col-md-3">
          <h3>Neutralizują zanieczyszczenia powietrza</h3>
          <p>Mniejsze cząsteczki pochłaniają, większe osiadają na liściach i gałęziach. Dzięki temu potrafią ograniczyć zapylenie powietrza nawet do 75%.</p>
       </div>
       <div class="col-md-3">
          <h3>Zwiększają wartość nieruchomości</h3>
          <p>Badania naukowe wskazują jednoznacznie, że  jesteśmy gotowi więcej zapłacić za mieszkanie, z którego okien widać drzewa.</p>
        </div>
       <div class="col-md-3">
          <h3>Zwiększają  bezpieczeństwo na drogach!</h3>
          <p>Zmniejszają prędkość pojazdów o 5 do 24 km/h i
przyczyniają się do spadku liczby wypadków od 5 do 20%. Dzieje się tak dlatego, że dla kierowców drzewa stanowią dobrze zaprojektowane ściany, które prowadzą wzrok i zwiększają uwagę (przeciwnie do rozpraszaczy typy bilbordy reklamowe).</p>
        </div>
      </div>
    </div>

    </div>
</section>

<section>

    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Dlaczego nowelizacja  ustawy  jest zła?</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <h2>Całkowity brak kontroli nad wycinkami</h2>
          <p>Ustawa doprowadzi do braku kontroli nad usuwanymi drzewami do 100 cm lub 50 cm obwodu (w zależności od gatunku), co oznacza zagrożenie wycinką dla kilkudziesięcioletnich okazów; ich znikanie wpłynie negatywnie na krajobraz polskich wsi, miast i miasteczek.
          </p>
          <p>Uniemożliwi  także kontrolę społeczną i możliwości sprzeciwu wobec wycinek dużych, cennych drzew rosnących na prywatnych terenach. </p>
          <p>Niesie też ryzyko znikania drzew posadzonych jako nasadzenia zastępcze, gdyż liberalizacja przepisów będzie pozwalać na wycinkę takich drzew zaraz po skończeniu się 3-letniego okresu ochronnego.</p>
        </div>
        <div class="col-md-5">
          <img src="./img/wycinka-1.jpg" alt="">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2>Znosi społeczną odpowiedzialność inwestorów i firm budowlanych</h2>
          <p>Ustawa pozwala na wycinkę drzew alejowych bez względu na ich przyrodnicze znaczenie, z powodu zniesienia konieczności uzgodnienia przez Regionalnego Dyrektora Ochrony Środowiska projektu decyzji zezwalającej na usunięcie drzew z pasa drogi publicznej w czasie robót budowlanych.</p>
          <p>Część inwestorów, z powodu niskich stawek za opłaty (a więc i kary) wprowadzonych w ustawie, będzie wliczała kary za nielegalne wycinki do kosztów przedsięwzięcia, co tym bardziej przełoży się na brak kontroli gmin nad wycinkami oraz zdejmuje z nich społeczną odpowiedzialność</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="./img/wycinka-2.jpg" alt="">
        </div>
      </div>


    </div>

</section>

<section class="alternate">

    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Co chcemy zmienić?</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">
          <h2>§1</h2>
          <p> Proponujemy zmienić obwody drzew, do których można wycinać drzewa bez uzyskania zezwolenia do 30 cm w przypadku topoli, wierzb, kasztanowca zwyczajnego, klonu jesionolistnego, klonu srebrzystego, robinii akacjowej oraz platanu klonolistnego i do 20 cm w przypadku pozostałych gatunków. Tylko przyjęcie takich obwodów pozwoli na to, by gminy mogły efektywnie korzystać z narzędzia nasadzeń zastępczych zamiast pobierania opłat - po trzech latach od posadzenia nowe drzewa powinny osiągnąć takie rozmiary, by nie można było ich bez zezwolenia usunąć! </p>
        </div>
        <div class="col-md-3">
          <h2>§2</h2>
          <p>Proponujemy  wykreślić punkt dotyczący pełnej dowolności w wycinaniu drzew przez osoby fizyczne na terenach prywatnych. Zamiast tego wprowadzić przepis o konieczności zgłoszenia chęci usunięcia drzewa (analogicznie do zgłaszania budów w prawie budowlanym) i dać gminom możliwość wydania tzw. milczącej zgody lub wszczęcia postępowania, jeśli urzędnik uzna, że osoba fizyczna chce usunąć drzewo cenne z punktu widzenia przyrodniczego lub kulturowego. Taka konstrukcja przepisów pozwoli gminom na monitoring wycinek na swoim terenie, ale jednocześnie na zmniejszenie ilości pracy nad wnioskami składanymi przez osoby fizyczne. Dodatkowo, da możliwość zareagowania i uniemożliwienia usunięcia cennych okazów.</p>
       </div>
       <div class="col-md-3">
          <h2>§3</h2>
          <p>Proponujemy pozostawić konieczność uzgodnienia projektu decyzji dotyczącej wycięcia drzew w alei przez RDOŚ. Bez kontroli organu zajmującego się przyrodą zagrożone będą gatunki ważne dla Wspólnoty, a zamieszkujące drzewa alejowe (np. pachnica dębowa), ale także istnienie samych alei - ważnego znaku rozpoznawczego w krajobrazie.</p>
        </div>
       <div class="col-md-3">
          <h2>§4</h2>
          <p>Proponujemy zmienić maksymalną stawkę opłaty dla drzew z 500 zł do 800 zł. Zbyt niskie kwoty za usunięcie drzewa oznaczają również niskie kary. Niesie to zagrożenie, że niektórzy inwestorzy nie będą legalnie wycinać drzew, tylko wliczać sobie kary do kosztów przedsięwzięcia. Uniemożliwi to gminom ochronę drzew na terenie inwestycji, nawet jeżeli byłoby możliwe jej przeprowadzenie bez wycinania wszystkich drzew.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <br><br>
          <a href="petycja-senat-poprawki.pdf"><strong>Pobierz pełen tekst petycji do Senatorów i wszystkich poprawek w formacie PDF</strong></a>
        </div>
      </div>

    </div>

</section>

<section>

    <div class="container" id="form">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Napisz list do Senatora</h1>
          <p class="lead">Za pomocą naszej strony możesz wybrać senatora ze swojego okręgu wyborczego i wysłać do niego list z prośbą o wsparcie tej akcji i głosowanie za poprawkami, które mogą uratować ustawową ochronę drzew.</p><br><br>
        </div>
      </div>

      <div class="">
        <form class="form-horizontal" action="#" method="POST">
          <div class="form-group">
            <label for="districtSelector" class="col-sm-3 control-label">Twoje miasto lub powiat</label>
            <div class="col-sm-9">
              <select class="district-selector" required id="districtSelector" name="district">
                <option></option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="toName" class="col-sm-3 control-label">Odbiorca</label>
            <div class="col-sm-4">
              <input class="form-control" id="toName" type="text" name="toName" placeholder="Imię i nazwisko senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label for="toEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input class="form-control" id="toEmail" type="email"  name="toEmail" placeholder="Email senatora (wybierz swój okręg z listy poniżej)" readonly>
            </div>
          </div>

          <div class="form-group">
            <label for="fromName" class="col-sm-3 control-label">Nadawca</label>
            <div class="col-sm-4">
               <input type="text" class="form-control" id="fromName"  name="fromName"  placeholder="Twoje imię i nazwisko" required>
            </div>
          </div>

          <div class="form-group">
            <label for="fromEmail" class="col-sm-3 control-label"></label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="fromEmail"  name="fromEmail" placeholder="Twój email" required>
            </div>
          </div>

          <div class="form-group">
            <label for="messageTitle" class="col-sm-3 control-label">Temat</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="messageTitle"  name="messageTitle" value="Prośba o wprowadzenie poprawek do nowelizacji Ustawy o ochronie przyrody" required>
            </div>
          </div>

          <div class="form-group">
            <label for="messageBody" class="col-sm-3 control-label">Treść</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="messageBody" id="messageBody" rows="18" required></textarea>
            </div>
          </div>

          <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-block btn-lg btn-success">Wyślij</button>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="small text-center">Zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tekst jednolity: Dz. U. z 2002 r. nr 101, poz. 926 ze zm.) oświadczam, że klikając na przycisk "Wyślij" wyrażam zgodę na przetwarzanie moich danych osobowych przez Stowarzyszenie Miasto Jest Nasze <b>wyłącznie na potrzeby akcji "Uratujcie drzewa"</b> oraz wyrażam zgodę na przesłanie wiadomości e-mail do wybranego Senatora w moim imieniu.</p>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>

</section>

<section>
  <footer class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Organizator akcji</h1>
      </div>
    </div>
    <div class="row logos">
      <a href="http://kongresruchowmiejskich.pl/"><img src="img/logo-krm.jpg" alt="Logo Kongres Ruchów Miejskich"></a>
    </div>

  </footer>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>


    <!-- Modal -->
    <div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Dziękujemy za wspracie!</h4>
          </div>
          <div class="modal-body">
            <p>Razem z Twoimi znajomymi możemy Uratować Drzewa! <a href="https://www.facebook.com/sharer/sharer.php?u=http://uratujciedrzewa.pl"><b>Podziel się tą stroną.</b></a></p>
            <!-- <p>Dołącz też do <a href="https://www.facebook.com/events/712761325519022/">wydarzenia na Facebooku</a></p> -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij okno</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var AppMessageTemplate = '{{{messageTmpl}}}';
      var AppSenatorsData = {{{senatorsData}}};
      var AppDistrictData = {{{districtsData}}};
    </script>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44453576-2', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
