

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2 {
  font-weight: 400;
}

img {
  max-width: 100%;
}

.select2-container + select {
    position:absolute;
    display: block !important;
    visibility: hidden;
    height: 1px;
    margin-left: 10px;
    margin-top: -14px;
}

.counter {
  background: #FFF;
  color: #383838;
  padding: 8px 12px;
  margin: auto;
  line-height: 1 !important;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 10px;
}

.logo {
  position: absolute;
  width: 15%;
  max-width: 120px;
  top: 20px;
  left: 20px;
}

.jumbotron {
   background-image: url('../img/hero-background.jpg'); 
  background-size: cover;
  background-position: 50% 50%;

}


.jumbotron {
  margin-bottom: 0px;
}

.jumbotron-inner {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 25px 1em;
}

.jumbotron h1 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.jumbotron .lead {
  margin-bottom: 1.5em;
}

.jumbotron .btn {
  margin-bottom: 1.5em;
}

section .container {
  padding-top: 2em;
  padding-bottom: 3em;
}

section .container h1 {
  margin-bottom: 1em;
}

section .container h1:after {
  content: '';
  display: block;
  margin: 30px auto 0 auto;
  width: 25%;
  border-bottom: 1px solid #666;
}

.alternate {
  background-color: #eee;
}

.inverse {
  background-color: #266C98;
  color: #fff;
}

.inverse h1,
.inverse h2,
.inverse h3 {
  color: #fff;
}

.inverse .container h1:after {
  border-bottom: 1px solid #eee;
}

.logos {
  text-align: center;
}

.logos img {
  max-width: 150px;
  padding: 15px;
}

.share > div {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .jumbotron {
    padding: 100px 0;
  }

  .jumbotron h1 {
    font-size: 4em;
  }

  .jumbotron-inner {
    padding: 25px 5em;
  }

  .jumbotron .btn-lg {
    font-size: 1.2em;
  }

}